*{
    text-decoration: none;
}
.navText{
    color:aliceblue;
    margin: 1.8vmax;
    font-size: large;
}
.navText:hover{
    background-color: rgb(12, 12, 180);
    padding: 4px 1.8vmax 4px 1.8vmax;
    border-radius: 5px;
    margin: 0vmax;
}
.logOut-ico{
    width: 30px;
}

@media only screen and (max-width:359px){
    .navigation-response{
    display: flex;
    flex-direction: column;
}
}